<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
    В качестве ID для бина берется полное имя класса.
    Поведение по-умолчанию для xml-конфигурации.
    -->
    <bean class="com.jetbulb.spring.overview.beans.naming.BeanA"/>

    <!--
    В случае, если для аттрибута id передано значение,
    то в качестве ID для бина берется это же значение.
    В таком случае, имя класса игнорируется и не берется во внимание для присвоения ID.
    -->
    <bean id="twinBean" class="com.jetbulb.spring.overview.beans.naming.BeanA"/>

    <!--
    Xml-конфигурация предоставляет возможность указывать ID, а также альтернативные имена,
    чаще именуемые как псевдонимы (aliases).

    Для этого необходимо использовать дополнительный аттрибут name.
    Аттрибут name принимает последовательсть желаемых именований перечисленных через:
    запятую, точку с запятой или просто через пробел.

    В таком случае, имя класса игнорируется и не берется во внимание для присвоения ID.
    -->
    <bean id="anotherTwinBean" name="aliasedTwinBean" class="com.jetbulb.spring.overview.beans.naming.BeanA"/>


</beans>