<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

    <!--  Регистрирует реализации интерфейса BeanPostProcessor для конфигурации Spring IoC-контейнера.  -->
    <!--  В большей степени речь ведется про AutowiredAnnotationBeanPostProcessor.  -->
    <context:annotation-config/>

    <bean id="electricityStation" class="com.jetbulb.spring.overview.station.ElectricityStation"/>

    <bean id="waterpumpStation" class="com.jetbulb.spring.overview.station.WaterpumpStation">
        <constructor-arg type="java.lang.String" index="0" value="District #13 Waterpump Station" />
        <constructor-arg type="int" index="1" value="1000" />
        <constructor-arg type="int" index="2" value="4" />
    </bean>

    <bean id="depot" class="com.jetbulb.spring.overview.station.railway.Depot" />
    <bean id="railwayStation" class="com.jetbulb.spring.overview.station.railway.RailwayStation" />

    <bean id="fuelTank" class="com.jetbulb.spring.overview.station.petrol.FuelTank" />
    <bean id="fuelPump" class="com.jetbulb.spring.overview.station.petrol.FuelPump" />
    <bean id="petrolStation" class="com.jetbulb.spring.overview.station.petrol.PetrolStation" />

    <bean id="tunnelLane" class="com.jetbulb.spring.overview.infrastructure.TunnelLane" />
    <bean id="tunnel" class="com.jetbulb.spring.overview.infrastructure.Tunnel" />

    <bean id="metroLane" class="com.jetbulb.spring.overview.infrastructure.MetroLane" />
    <bean id="metro" class="com.jetbulb.spring.overview.infrastructure.Metro" />

    <bean id="districtSystem" class="com.jetbulb.spring.overview.DistrictSystem" />

</beans>