<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="robotFactory" class="com.jetbulb.spring.overview.scope.RobotFactory"/>

    <bean id="robot"
          class="com.jetbulb.spring.overview.scope.Robot"
          scope="prototype"
          factory-bean="robotFactory"
          factory-method="create"/>

</beans>